bind up +up
bind down +down
bind left +left
bind right +right
bind w +up
bind s +down
bind a +left
bind d +right
bind q +a
bind e +b
bind enter +start
bind shift +select
bind x +select
bind tab +select
bind ins savestate
bind del loadstate
set joy 1
set scale 1
set sound 1
set density 4
set fullscreen 0
set integer_scale 1
set savedir ./
set joy_rumble_strength 100
set alert_on_quit 1
set samplerate 44100